<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">        
      <table class="table">
        {{#each post in model}}
          <tr><td>
            {{#link-to 'posts.detail' post}}
              {{post.title}} by {{post.author}}
            {{/link-to}}
            {{#link-to 'posts.edit' post}}
              <span class="btn">Edit</span>
            {{/link-to}}     
          </td></tr>
        {{/each}}
      </table>
    </div>      
    <div class="span9 well">
      {{outlet}}
    </div>
  </div>
</div>